<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head-html"></head>
<body>
<header th:replace="fragments/fragment :: header"></header>

<div th:if = "${param.error}" >

    <div class="alert alert-danger alert-dismissable" style="margin-bottom:-20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Invalid username and password.
    </div>

</div>
<div th:if = "${param.logout}" >
    <div class="alert alert-success alert-dismissable"  style="margin-bottom:-20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        You have been logged out.
    </div>

</div>
<!--Jumbotron Section-->
<section id="header">
    <div class="container">
        <h1>Lihat IRS</h1>
        <a href="#">Dashboard / Lihat IRS</a>
    </div>
</section>
<section id="main-content">
    <div class="container">
        <div th:each="mk : ${listMK}">
            <h4 th:text="${mk.nama}"></h4>
            <table th:class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>No. </th>
                    <th>Kode MK</th>
                    <th>Mata Kuliah</th>
                    <th>Status IRS</th>
                    <th>Tanggal Pengisian</th>
                    <th>Term</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" name="optradio" /></label>
                        </div>
                    </td>
                    <td>
                        No. 1
                    </td>
                    <td>
                        No. 1
                    </td>
                    <td>
                        No.1
                    </td>
                    <td>
                        No.1
                    </td>
                    <td>
                        No.1
                    </td>
                    <td>
                        No.1
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

<div th:replace="fragments/fragment :: foot-html"></div>
</body>
</html>